 #editor {
    position: absolute;
    width: 1000px;
    height: 800px;
 }
 
 .ace_begin{
	margin:20px 5px 20px 0px;
}

.ace_end{
	margin: 20px 5px 20px 0px;
}

.ace_name{
display: block;
background-color:yellow;
}