body {
 font-family: helvetica neue, helvetica, "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif
}

p {
	margin-bottom: 20px;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size:12px;
}


.navbar-default .navbar-nav > li > a {
	color: white;
}

.blogpost h2 {
  margin-top: 30px;
}

.profile_meta ul li{
	list-style-type: none;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
}

.profile_meta ul li a{
	color: white;
}
.profile_meta ul {
  padding-left: 0px;
}

img.avatar {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    box-shadow: 0 0 0 5px #fff;
}

div.herotator {
    vertical-align: middle;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
div.herotator p {
  color: white;
}
div.herotator p a {
  color: white;
}

.archive {
  margin-bottom: 3rem;
}

.archive-item {
  margin-bottom: 2rem;
  overflow: auto; /* clearfix */
}

.archive-title {
  font-size: 20px;
}

.archive-date {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-device-width: 480px) {
  p {
   font-size: 16px;
  }
}

@media (min-width: 34rem) {
  .archive-list {
    margin-top: 60px;
  }

  .bio {
    margin-top: 60px;
  }
}

.post-date {
  display: block;
  margin: -.5rem 0 .5rem;
  color: #ccc;
}

.navbar {
  background-color: rgba(0, 122, 204, 1);
}
@media (min-width: 34rem) {
  .navbar {
    background-image: url(/assets/bat.jpeg);
    background-position: center;
  }
}

