body {
    font-size: 18px;
    font-family: 'Maven Pro', Helvetica, Arial, serif;
}

#slant {
    text-align: left;
    margin: 20% 0 0 20%;
}

#bloglist {
    text-align: left;
    margin:1% 20% 0 20%;
}

#pagetitle {
    text-align: left;
    margin:1% 0 0 20%;
}
#blogcontent {
    text-align:left;
    font-size: 14px;
}

a {
    color: #777777;
    text-decoration: none;
    margin: 0 0 0 0;
}

a:hover {
    color: #268bd2;
}

/* Code blocks */

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size:12px;
}

pre {
  padding: 4px 12px;
  background: #FDFEFB;  
  border-radius:4px;
  border:1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: 32px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}
