body {
 font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif
}

h1, h2, h3, h4, h5, h6{
	color: #ff754f;
}

a {
    color: #ff754f;
}

p {
	margin-bottom: 20px;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size:12px;
}

code {
	color: #ff754f;
}

pre {
  padding: 4px 12px;
  background: #FDFEFB;  
  border-radius:4px;
  border:1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
}

::selection {
  background: #ff9393; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff9393; /* Gecko Browsers */
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.blogpost h2 {
  margin-top: 30px;
}

.blogpost a {
  text-decoration: none;
  border-bottom: 2px solid #fecd9d;
  color: #ff9393;
}

.blogpost a:hover {
	color: #ff754f;
}

.profile_meta ul li{
	list-style-type: none;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
}

.profile_meta ul li a{
	color: white;
}

img.avatar {
    width: 80px;
    width: 100px;
    background-color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    box-shadow: 0 0 0 5px #fff;
}

div.herotator {
    vertical-align: middle;
    text-align: center;
    margin-top: 100px;
}
