<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}
        {{ page.title }} - 
      {% endif %}
      {{ site.title }}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


       <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all">
       <link href='/stylesheets/font.css' rel='stylesheet' type='text/css'>
	   <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" media="all">
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body style="font-family: 'Patrick Hand SC'">
    <nav class="navbar navbar-default navbar-static-top" style="background-color: #ff754f">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="border-color: #777777">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="color: white">Rebornix</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="border-color: #777777">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/rebornix">GitHub</a></li>
            <li><a href="http://instagram.com/rebornix">Instagram</a></li>
			<li><a href="http://cn.linkedin.com/in/rebornix">Profile</a></li>
            <li><a href="/atom">RSS</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        <div style="text-align: center; margin: 100px 0">
		  <h1 style="color: white">Welcome to the left-hand path, my friend!</h1>
		</div>
		</div>
	  </div>
    </nav>
    <div class="container">
      <div class="content" style="height: 100%">
        {{ content }}
      </div>

    </div>
	<div style="margin-top:80px;margin-bottom: 20px; text-align:center; opacity: 0.6; font-size: 16px;">
<3 cici
</div>
	<script src="/assets/themes/hooligan/js/jquery.min.js"></script>
    <script src="/assets/themes/hooligan/bootstrap/js/bootstrap.min.js"></script>	
    
  </body>
</html>
