---
layout: default
---
{% include JB/setup %}


<div class="page-header">
	<div class="pagination btn-group">
		<a class="btn home" href="/">Home</a>
		{% if page.previous %}
		<a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&#8612;
			Previous</a> {% else %}
		<a class="btn disabled prev">&#8612; Previous</a>&nbsp;&nbsp;{% endif %}
		{% if page.next %}
		<a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &#8614;</a>
		{% else %}
		<a class="btn next disabled">Next &rarr;</a> {% endif %}
	</div>

	<h1>
		{{ page.title }} {% if page.tagline %}
		<small>{{ page.tagline }}</small> {% endif %}
	</h1>
</div>
<div class="blogpost">
	<p style="color: gray;"><small><strong>&lt;推广&gt;</strong> <a href="https://apps.apple.com/app/apple-store/id6447794447?pt=120102995&ct=rebornix&mt=8"
		title="ProxMobo">ProxMobo</a>: Proxmox VE Monitor & Management for iOS</small></p>

	 {{ content }}
	 <p><small><strong>&lt;推广&gt;</strong> <a href="https://apps.apple.com/app/apple-store/id6447794447?pt=120102995&ct=rebornix&mt=8"
		title="ProxMobo">ProxMobo</a>: Proxmox VE Monitor & Management for iOS</small></p>
		<script defer data-domain="rebornix.com" src="https://ana.rebornix.com/js/script.js"></script>
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4085649514886822"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-4085649514886822"
     data-ad-slot="9956377222"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
	<hr>
	<div class="pagination btn-group">
		{% if page.previous %}
		<a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>		{% else %}
		<a class="btn disabled prev">&larr; Previous</a> {% endif %}
		<a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a> {% if page.next %}
		<a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a> {% else %}
		<a class="btn next disabled">Next &rarr;</a> {% endif %}
	</div>
	<hr> {% include JB/comments %}
</div>
<!-- <div class="meta">
	<div>
		<h4>Published</h4>
		<div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
	</div>
	{% if page.category %}
	<div>
		<h4>Category</h4>
		<span class="category"> {{ page.category }} </span>
	</div>
	{% endif %} {% unless page.tags == empty %}
	<div>
		<h4>Tags</h4>
		<ul class="tag_box"> {% assign tags_list = page.tags %} {% include JB/tags_list %} </ul>
	</div>
	{% endunless %}
</div> -->
